PORT=4000
CLIENT_ORIGIN=http://localhost:5173
APP_BASE_URL=http://localhost:5173
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/swayog_dashboard?schema=public"
JWT_SECRET="change_me_super_secret"
JWT_EXPIRES_IN="1d"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
